{% extends "base.html" %}
{% block content %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Iniciar Sesión" %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="login-container">
                    <h1>{% trans "Iniciar Sesión" %}</h1>
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    <form method="post" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{form|crispy}}
                        {{ redirect_field }}
                        <button type="submit" class="btn btn-primary">{% trans "Iniciar Sesión" %}</button>
                    </form>
                    
                    <!-- Botón de Registrarse -->
                    <div class="text-center mt-3">
                        <p>{% trans "¿No tienes cuenta?" %}</p>
                        <a href="{% url 'account_signup' %}" class="btn btn-secondary">{% trans "Registrarse" %}</a>
                    </div>
                    
                    <div class="social-login">
                        <ul class="social-login-list">
                            {% include "socialaccount/snippets/login.html" %}
                        </ul>
                    </div>
                    <p>
                        <a href="{% url 'account_reset_password' %}">{% trans "¿Olvidaste tu contraseña?" %}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock content %}