{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="text-center">{% trans "Restablecer Contraseña" %}</h1>
                    <p>
                        {% trans "Le hemos enviado un correo electrónico. Si no lo ha recibido, compruebe su carpeta de correo no deseado. De lo contrario, póngase en contacto con nosotros si no lo recibe en unos minutos." %}
                    </p>
                    <div class="mt-4">
                        <a href="{% url 'account_login' %}" class="btn btn-secondary mx-2">{% trans "Volver a inicio" %}</a>
                        <br>
                        <a href="{% url 'account_signup' %}" class="btn btn-secondary mx-2">{% trans "Registrarse" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
