{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Sitio{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>

    <div class="container d-flex flex-column min-vh-100">
        <main class="flex-grow-1 d-flex justify-content-center align-items-center">
            {% block content %}
            
            {% endblock content %}
        </main>

        <footer class="mt-auto text-center py-3">
            <div class="container">
                <br>
                <span class="text-muted">© 2024 IS2-Proyecto. Todos los derechos reservados.</span>
            </div>
        </footer>
    </div>

    {% block extra_scripts %}
    {% endblock extra_scripts %}

</body>
</html>
